body { 
  background:#fff url(bg1.jpg)repeat;
}

#X00WrapperLogin, #X00WrapperMain {
  margin: 20px auto;
  width: 700px;
}
#X00ImageHeader {
  max-width: 100%;
}
@media (max-width: 767px) { 
  #X00WrapperLogin, #X00WrapperMain {
    width: 95%;
  }
}
@media (max-width: 480px) {
  #X00WrapperLogin, #X00WrapperMain {
    width: 95%;
  }
}
